body {
    margin: 0;
    background-image: url("images/sky.jpeg");
    background-size: cover;
    font-family: monospace;
}
.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 2s infinite;
}
.city {
    width: 100%;
    height: auto;
}